<!DOCTYPE html>

<html>
  <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <div>
        <p>Append to the page's URL the string "/api/[desired_date]", without quotes, such as:</p>
        <p><a href="api/2015-12-25">/api/2015-12-25</a> (regular)</p>
        <p><a href="api/1451001600000">/api/1451001600000</a> (unix)</p>
      </div>
      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>by <a href="https://github.com/pmmirilli">Paulo Mirilli</a></p>
      <p class="smaller">in response to one of the challenges for obtaining the certificate in Back End Development and APIs</p>
      <p class="smaller"><a href="https://timestamp-microservice.freecodecamp.rocks/">Original page</a> by <a href="https://www.freecodecamp.org/">freeCodeCamp</a>.</p>
    </div>
  </body>
</html>
